<header class="site-header ramadan ">
    <ul class="main-header">
        <li class="menu">
            <a title="Menu" on="tap:sidebar.toggle">
                <i class="icon-bars"></i>
            </a>
        </li>
        <li class="logo">
            <a href="/" title="{{ site.company }}">
                <amp-img src="{{ site.logo }}" alt="{{ site.alt-logo }}" width="150px" height="34px"></amp-img>
            </a>
        </li>
        <li class="search" role="button" tabindex="0">
            <a class="srch_icon" href="{{ site.facebook }}">
                <i class=icon-facebook></i>
            </a>
        </li>
        <li class="location">
            <a href="{{ site.instagram }}">
                <i class="icon-instagram"></i>
            </a>
        </li>
    </ul>
</header>