<div class="card brands car-brands">
    <h2>Klien Wuling Tulungagung</h2>
    <ul class="grid-3 car text-center">
        <li>
            <a href="https://www.oto.com/mobil-baru/toyota" title="Mobil Toyota">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/toyota.png" width="90" height="50" alt="toyota" title="Mobil Toyota"></amp-img> Toyota
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/daihatsu" title="Mobil Daihatsu">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/daihatsu.png" width="90" height="50" alt="daihatsu" title="Mobil Daihatsu"></amp-img> Daihatsu
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/honda" title="Mobil Honda">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/honda.png" width="90" height="50" alt="honda" title="Mobil Honda"></amp-img> Honda
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/mitsubishi" title="Mobil Mitsubishi">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/mitsubishi.png" width="90" height="50" alt="mitsubishi" title="Mobil Mitsubishi"></amp-img> Mitsubishi
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/suzuki" title="Mobil Suzuki">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/suzuki.png" width="90" height="50" alt="suzuki" title="Mobil Suzuki"></amp-img> Suzuki
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/nissan" title="Mobil Nissan">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/nissan.png" width="90" height="50" alt="nissan" title="Mobil Nissan"></amp-img> Nissan
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/datsun" title="Mobil Datsun">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/datsun.png" width="90" height="50" alt="datsun" title="Mobil Datsun"></amp-img> Datsun
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/hyundai" title="Mobil Hyundai">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/hyundai.png" width="90" height="50" alt="hyundai" title="Mobil Hyundai"></amp-img> Hyundai
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/chevrolet" title="Mobil Chevrolet">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/chevrolet.png" width="90" height="50" alt="chevrolet" title="Mobil Chevrolet"></amp-img> Chevrolet
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/dfsk" title="Mobil DFSK">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/dfsk.png" width="90" height="50" alt="dfsk" title="Mobil DFSK"></amp-img> DFSK
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/renault" title="Mobil Renault">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/renault.png" width="90" height="50" alt="renault" title="Mobil Renault"></amp-img> Renault
            </a>
        </li>
        <li>
            <a href="https://www.oto.com/mobil-baru/tata" title="Mobil Tata">
                <amp-img src="https://s3-ap-southeast-1.amazonaws.com/dataimages/brandlogo/car/tata.png" width="90" height="50" alt="tata" title="Mobil Tata"></amp-img> Tata
            </a>
        </li>
    </ul>
</div>